*{
    padding: 0%;
    margin: 0%;
}
.licious{
    height: 320px;
    width: 100%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    
    margin-top: 100px ;
    margin-bottom: 50px
}
.licious_sec{

height: 170px;
margin-top: 30px;

display: flex;
justify-content: space-around;
width: 60%;
margin: auto;
}
.licious_sec div{
   
    height: 100px;
    width: 150px;
    color: rgb(51, 51, 51);
    font-size: 13px;
    text-align: center;
}
.licious_sec div img{
    height: 100%;
    width: 130px;
    margin-bottom: 20px;
}
.licious_one{
    display: flex;
    justify-content: space-around;
   
    height: 50px;
    margin-top: 30px;
    width: 30%;
    margin: auto;
    padding-bottom: 70px;
}
.licious_one div{
    font-size: 22px;
   
}
.line{
    width: 180px;
    height: 47px;
    border-bottom: 1px solid black;
   position: relative;
    }
    .source{
        height:330px;
     
        width: 66%;
        margin-left:10% ;
        display: flex;
        justify-content: space-between;
    }
    #part1,.part2{
        width: 49%;
   
    
    }
    .source_1{
        display: flex;
        justify-content: space-around;
        color: rgb(92, 91, 91);
        margin: auto;
        width: 100%;
       
        
    }
    .part2{
        padding-left: 20px;
    }
   #div1>div>img{
    height: 20px;
    width: 20px;
     margin-top: 5px;
   }
   .source_2{
    color: gray;
   }
   #div1{
    overflow-x: hidden;
    overflow-y: auto;
    height: 200px;
   }
   #src1{
    color: rgb(219, 8, 124);
   }
   #part1 img{
    height: 100%;
    width: 100%;
   }
   .line1{
    width: 110px;
    height: 1px;
    border-bottom: 3px solid rgb(219, 8, 124);
   position: relative;
    }
    .line2{
        width: 70px;
    height: 1px;
    border-bottom: 3px solid white;
   position: relative;
    }
    .like{
        width: 62%;
        
        margin: auto;
    }
    .like_1{
display: flex;
justify-content: space-evenly;
    }
    #like_2{
        
        width: 100%;
        margin:12px 20px 12px 20px;
        position: relative;
        height: 500px;
        overflow: hidden;
    }
    
   
    #like_2 div>img{
        width: 100%;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
    }
    #left{
            width: 12px;
            height: 12px;
            border: 3px solid #333;
            border-left: 0;
            border-top: 0;
            transform: rotate(135deg);
            margin-top: 250px;
    }
    #right {
        width: 12px;
        height: 12px;
        border: 3px solid #333;
        border-left: 0;
        border-top: 0;
        margin-top: 250px;
        transform: rotate(315deg);
      }
      #like3{
        display: flex;
        flex-direction: row;
        gap: 20px;
        position: absolute;
        width: 100%;
      }
     #like3 p{
        color: rgb(122, 122, 122);
       margin-top: 15px;
       margin-left:10px;
       margin-bottom: 10px;
     }
     #like3 div{
        border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
     }
     #like3 h3{
        color: #333;
        margin-top: 15px;
        margin-bottom: 25px;
        margin-left:10px;
     }
     #like3 h4{
        margin-left:10px; 
        margin-top: 15px;
        color: #333;
     }
     #like3 button{
        color: white;
        background-color: rgb(189, 10, 108);
        border: none;
        padding: 10px 15px 10px 15px;
        border-radius: 5px;
        margin-left: 130px;
     }
  #pro{
    width: 77%;
    display: flex;
    justify-content: space-between;
    margin-left: 190px;
    margin-bottom: 100px;
    height: auto;
  }
  #pro1{
   
    border: 1px solid black;
    width: 47%;
    border-radius: 10px;
  }
  #pro2{
    
    width: 49%;
    height: auto;
  }
  #pro2>p{
    color: rgb(75, 74, 74);
    margin-bottom: 20px;
    font-size: 14px;
  }
  #pro2 button{
    color: white;
    background-color: rgb(189, 10, 108);
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin-left: 580px;
  }
  #im{
    height: 380px;
    border: 1px solid black;
  }
  #serve>hr{
    width: 550px;
    margin-left: 70px;
  }
  #in{
    display: flex;
    margin: auto;
    width: 10%;
   
  }
  .oval {
    width: 10px;
    height: 10px;
    border-radius: 60%;
    background: grey;
    margin-right: 5px;
  }