*{
    padding: 0%;
    margin: 0%;
}
@media (device-width: 100vw) and (device-height: 100vh){
  #top-navbar {
    border: 1px rgb(224, 224, 224) solid;
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    padding: 3px 0px;
    font-size: 13px;
    color: #4a4a4a;
  
   
  
    background-color: #eaeaea;
  }
  #top-1 {
    display: flex;
    justify-content: space-evenly;
    margin-left: -80px;
    width: 25%;
  }
  #top-2 { 
    display: flex;
    justify-content: space-evenly;
    margin-right: -95px;
    width: 40%;
  }
  #dot {
    color: #b4b4b4;
    font-weight: bolder;
  }
  #top-navbar img:hover {
    cursor: pointer;
  }
  #bottom-navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    display:flex ;
    justify-content: space-evenly;
    align-items: center;
    padding: 14px 0px;
    font-size: 12px;
    padding-left: 80px;
  
    
    
    background-color: #ffffff;
  }
  #bottom-navbar>div{
    width: 35%;
    display: flex;
    gap: 5px;
  }
  #bottom-navbar input{
  width: 350px;
    height: 35px;
    padding:0px 15px; 
  
    background-image: url(https://www.pngarea.com/pngm/109/1164446_searchicon-png-search-icon-png-download.png);
   background-size: 20px;
   background-repeat: no-repeat;
   font-size: 15px;
   color: #979797;
   background-color: #F8F8F8;
   border-radius: 5px;
   border: 1px solid rgb(226, 226, 226);
    
    
    background-image: url(https://www.licious.in/img/rebranding/search_icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    outline: 0;
    background-position: 95%;
    background-size: 20px
   
  
  }
  #bottom-navbar input:hover{
    transform: scale(0.97);
    cursor: pointer;
  }
  #red:hover{
    color: rgb(221, 29, 29);
  }
  
  .licious{
      height: 320px;
      width: 100%;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      
      margin-top: 100px ;
      margin-bottom: 50px
  }
  .licious_sec{
  
  height: 170px;
  margin-top: 30px;
  
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto;
  }
  .licious_sec div{
     
      height: 100px;
      width: 150px;
      color: rgb(51, 51, 51);
      font-size: 13px;
      text-align: center;
  }
  .licious_sec div img{
      height: 100%;
      width: 130px;
      margin-bottom: 20px;
  }
  .licious_one{
      display: flex;
      justify-content: space-around;
     
      height: 50px;
      margin-top: 30px;
      width: 30%;
      margin: auto;
      padding-bottom: 70px;
  }
  .licious_one div{
      font-size: 22px;
     
  }
  .line{
      width: 180px;
      height: 47px;
      border-bottom: 1px solid black;
     position: relative;
      }
      .source{
          height:330px;
       
          width: 66%;
          margin-left:10% ;
          display: flex;
          justify-content: space-between;
      }
      #part1,.part2{
          width: 49%;
     
      
      }
      .source_1{
          display: flex;
          justify-content: space-around;
          color: rgb(92, 91, 91);
          margin: auto;
          width: 100%;
         
          
      }
      .part2{
          padding-left: 20px;
      }
     #div1>div>img{
      height: 20px;
      width: 20px;
       margin-top: 5px;
     }
     .source_2{
      color: gray;
     }
     #div1{
      overflow-x: hidden;
      overflow-y: auto;
      height: 200px;
     }
     #src1{
      color: rgb(219, 8, 124);
     }
     #part1 img{
      height: 100%;
      width: 100%;
     }
     .line1{
      width: 110px;
      height: 1px;
      border-bottom: 3px solid rgb(219, 8, 124);
     position: relative;
      }
      .line2{
          width: 70px;
      height: 1px;
      border-bottom: 3px solid white;
     position: relative;
      }
      .like{
          width: 62%;
          
          margin: auto;
      }
      .like_1{
  display: flex;
  justify-content: space-evenly;
      }
      #like_2{
          
          width: 100%;
          margin:12px 20px 12px 20px;
          position: relative;
          height: 500px;
          overflow: hidden;
      }
      
     
      #like_2 div>img{
          width: 100%;
      border-top-left-radius:10px ;
      border-top-right-radius: 10px;
      }
      #left{
              width: 12px;
              height: 12px;
              border: 3px solid #333;
              border-left: 0;
              border-top: 0;
              transform: rotate(135deg);
              margin-top: 250px;
      }
      #right {
          width: 12px;
          height: 12px;
          border: 3px solid #333;
          border-left: 0;
          border-top: 0;
          margin-top: 250px;
          transform: rotate(315deg);
        }
        #like3{
          display: flex;
          flex-direction: row;
          gap: 20px;
          position: absolute;
          width: 100%;
        }
       #like3 p{
          color: rgb(122, 122, 122);
         margin-top: 15px;
         margin-left:10px;
         margin-bottom: 10px;
       }
       #like3 div{
          border-bottom-left-radius:10px ;
      border-bottom-right-radius: 10px;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
       }
       #like3 h3{
          color: #333;
          margin-top: 15px;
          margin-bottom: 25px;
          margin-left:10px;
       }
       #like3 h4{
          margin-left:10px; 
          margin-top: 15px;
          color: #333;
       }
       #like3 button{
          color: white;
          background-color: rgb(189, 10, 108);
          border: none;
          padding: 10px 15px 10px 15px;
          border-radius: 5px;
          margin-left: 130px;
       }
    #pro{
      width: 77%;
      display: flex;
      justify-content: space-between;
      margin-left: 190px;
      margin-bottom: 100px;
      height: auto;
    }
    #pro1{
     
      
      width: 47%;
      border-radius: 10px;
    }
    #pro2{
      
      width: 49%;
      height: auto;
    }
    #pro2>p{
      color: rgb(75, 74, 74);
      margin-bottom: 20px;
      font-size: 14px;
    }
    #pro2 button{
      color: white;
      background-color: rgb(189, 10, 108);
      border: none;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      margin-left: 580px;
    }
    #im{
      height: 380px;
     
    }
    #im>img{
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
    #serve>hr{
      width: 550px;
      margin-left: 70px;
    }
    #in{
      display: flex;
      margin: auto;
      width: 10%;
     margin-top: 60px;
    }
    .oval1,.oval2,.oval3 {
      width: 10px;
      height: 10px;
      border-radius: 60%;
      background: white;
      margin-right: 5px;
      border: 1px solid rgb(82, 81, 81);
    }
    .oval1:hover,.oval2:hover,.oval3:hover{
      background: grey;
    }
    #footer{
      width: 70%;
      margin: auto;
    }
    #third-last-div{
      width: 85%;
      margin: auto;
      color: #4A4A4A;
      }
      #third-last-div p{
        font-size: 14.5px;
        cursor: pointer;
        margin-bottom: 15px;
      }
      #third-last-div p:active{
        color: #D11243;
      }
      #third-last-div h4{
        margin-top: 15px;
        margin-bottom: 10px;
      }
      #footer3 p{
        margin-top: 10px;
      }
      #second-last-div{
      width: 85%;
      margin: auto;
       color: #4a4a4a
      }
      #second-last-div p{
        font-size: 13px;
        margin-bottom: 25px;
      }
      #second-last-div h5{
        margin-bottom: 15px;
      }
    
      #footer-end{
      width: 85%;
      margin:auto;
      color:#4a4a4a;
      text-align: center;
      }
      #footer-end>p{
      margin-top: -10px;
      font-size: 14px;
      }
      #footer-end>div{
      display: flex; 
      align-items: center; 
      gap: 15px;
      justify-content: center;
      }
      #footer-main-div{
      color:#4a4a4a;
      }
      #footer-3{
       width: 85%;margin: auto;
      }
      
      #footer-main-1{
        color: #4A4A4A;
      
      }
      #footer-main-1 p{
        font-size: 14px;
        cursor: pointer;
    
      }
      #footer-main-1 img{
        cursor: pointer;
      }
     
     
}
#top-navbar {
  border: 1px rgb(224, 224, 224) solid;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20px;
  padding: 3px 0px;
  font-size: 13px;
  color: #4a4a4a;

 

  background-color: #eaeaea;
}
#top-1 {
  display: flex;
  justify-content: space-evenly;
  margin-left: -80px;
  width: 25%;
}
#top-2 { 
  display: flex;
  justify-content: space-evenly;
  margin-right: -95px;
  width: 40%;
}
#dot {
  color: #b4b4b4;
  font-weight: bolder;
}
#top-navbar img:hover {
  cursor: pointer;
}
#bottom-navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  display:flex ;
  justify-content: space-evenly;
  align-items: center;
  padding: 14px 0px;
  font-size: 12px;
  padding-left: 80px;

  
  
  background-color: #ffffff;
}
#bottom-navbar>div{
  width: 35%;
  display: flex;
  gap: 5px;
}
#bottom-navbar input{
width: 350px;
  height: 35px;
  padding:0px 15px; 

  background-image: url(https://www.pngarea.com/pngm/109/1164446_searchicon-png-search-icon-png-download.png);
 background-size: 20px;
 background-repeat: no-repeat;
 font-size: 15px;
 color: #979797;
 background-color: #F8F8F8;
 border-radius: 5px;
 border: 1px solid rgb(226, 226, 226);
  
  
  background-image: url(https://www.licious.in/img/rebranding/search_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  outline: 0;
  background-position: 95%;
  background-size: 20px
 

}
#bottom-navbar input:hover{
  transform: scale(0.97);
  cursor: pointer;
}
#red:hover{
  color: rgb(221, 29, 29);
}

.licious{
    height: 320px;
    width: 100%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    
    margin-top: 100px ;
    margin-bottom: 50px
}
.licious_sec{

height: 170px;
margin-top: 30px;

display: flex;
justify-content: space-around;
width: 60%;
margin: auto;
}
.licious_sec div{
   
    height: 100px;
    width: 150px;
    color: rgb(51, 51, 51);
    font-size: 13px;
    text-align: center;
}
.licious_sec div img{
    height: 100%;
    width: 130px;
    margin-bottom: 20px;
}
.licious_one{
    display: flex;
    justify-content: space-around;
   
    height: 50px;
    margin-top: 30px;
    width: 30%;
    margin: auto;
    padding-bottom: 70px;
}
.licious_one div{
    font-size: 22px;
   
}
.line{
    width: 180px;
    height: 47px;
    border-bottom: 1px solid black;
   position: relative;
    }
    .source{
        height:330px;
     
        width: 66%;
        margin-left:10% ;
        display: flex;
        justify-content: space-between;
    }
    #part1,.part2{
        width: 49%;
   
    
    }
    .source_1{
        display: flex;
        justify-content: space-around;
        color: rgb(92, 91, 91);
        margin: auto;
        width: 100%;
       
        
    }
    .part2{
        padding-left: 20px;
    }
   #div1>div>img{
    height: 20px;
    width: 20px;
     margin-top: 5px;
   }
   .source_2{
    color: gray;
   }
   #div1{
    overflow-x: hidden;
    overflow-y: auto;
    height: 200px;
   }
   #src1{
    color: rgb(219, 8, 124);
   }
   #part1 img{
    height: 100%;
    width: 100%;
   }
   .line1{
    width: 110px;
    height: 1px;
    border-bottom: 3px solid rgb(219, 8, 124);
   position: relative;
    }
    .line2{
        width: 70px;
    height: 1px;
    border-bottom: 3px solid white;
   position: relative;
    }
    .like{
        width: 62%;
        
        margin: auto;
    }
    .like_1{
display: flex;
justify-content: space-evenly;
    }
    #like_2{
        
        width: 100%;
        margin:12px 20px 12px 20px;
        position: relative;
        height: 500px;
        overflow: hidden;
    }
    
   
    #like_2 div>img{
        width: 100%;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
    }
    #left{
            width: 12px;
            height: 12px;
            border: 3px solid #333;
            border-left: 0;
            border-top: 0;
            transform: rotate(135deg);
            margin-top: 250px;
    }
    #right {
        width: 12px;
        height: 12px;
        border: 3px solid #333;
        border-left: 0;
        border-top: 0;
        margin-top: 250px;
        transform: rotate(315deg);
      }
      #like3{
        display: flex;
        flex-direction: row;
        gap: 20px;
        position: absolute;
        width: 100%;
      }
     #like3 p{
        color: rgb(122, 122, 122);
       margin-top: 15px;
       margin-left:10px;
       margin-bottom: 10px;
     }
     #like3 div{
        border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
     }
     #like3 h3{
        color: #333;
        margin-top: 15px;
        margin-bottom: 25px;
        margin-left:10px;
     }
     #like3 h4{
        margin-left:10px; 
        margin-top: 15px;
        color: #333;
     }
     #like3 button{
        color: white;
        background-color: rgb(189, 10, 108);
        border: none;
        padding: 10px 15px 10px 15px;
        border-radius: 5px;
        margin-left: 130px;
     }
  #pro{
    width: 77%;
    display: flex;
    justify-content: space-between;
    margin-left: 190px;
    margin-bottom: 100px;
    height: auto;
  }
  #pro1{
   
    
    width: 47%;
    border-radius: 10px;
  }
  #pro2{
    
    width: 49%;
    height: auto;
  }
  #pro2>p{
    color: rgb(75, 74, 74);
    margin-bottom: 20px;
    font-size: 14px;
  }
  #pro2 button{
    color: white;
    background-color: rgb(189, 10, 108);
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin-left: 580px;
  }
  #im{
    height: 380px;
   
  }
  #im>img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  #serve>hr{
    width: 550px;
    margin-left: 70px;
  }
  #in{
    display: flex;
    margin: auto;
    width: 10%;
   margin-top: 60px;
  }
  .oval1,.oval2,.oval3 {
    width: 10px;
    height: 10px;
    border-radius: 60%;
    background: white;
    margin-right: 5px;
    border: 1px solid rgb(82, 81, 81);
  }
  .oval1:hover,.oval2:hover,.oval3:hover{
    background: grey;
  }
  #footer{
    width: 70%;
    margin: auto;
  }
  #third-last-div{
    width: 85%;
    margin: auto;
    color: #4A4A4A;
    }
    #third-last-div p{
      font-size: 14.5px;
      cursor: pointer;
      margin-bottom: 15px;
    }
    #third-last-div p:active{
      color: #D11243;
    }
    #third-last-div h4{
      margin-top: 15px;
      margin-bottom: 10px;
    }
    #footer3 p{
      margin-top: 10px;
    }
    #second-last-div{
    width: 85%;
    margin: auto;
     color: #4a4a4a
    }
    #second-last-div p{
      font-size: 13px;
      margin-bottom: 25px;
    }
    #second-last-div h5{
      margin-bottom: 15px;
    }
  
    #footer-end{
    width: 85%;
    margin:auto;
    color:#4a4a4a;
    text-align: center;
    }
    #footer-end>p{
    margin-top: -10px;
    font-size: 14px;
    }
    #footer-end>div{
    display: flex; 
    align-items: center; 
    gap: 15px;
    justify-content: center;
    }
    #footer-main-div{
    color:#4a4a4a;
    }
    #footer-3{
     width: 85%;margin: auto;
    }
    
    #footer-main-1{
      color: #4A4A4A;
    
    }
    #footer-main-1 p{
      font-size: 14px;
      cursor: pointer;
  
    }
    #footer-main-1 img{
      cursor: pointer;
    }
   
   