@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

#top-navbar {
  border: 1px rgb(224, 224, 224) solid;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20px;
  padding: 3px 0px;
  font-size: 13px;
  color: #4a4a4a;

  background-color: #eaeaea;
}
#top-1 {
  display: flex;
  justify-content: space-evenly;
  margin-left: -80px;
  width: 25%;
}
#top-2 {
  display: flex;
  justify-content: space-evenly;
  margin-right: -95px;
  width: 40%;
}
#dot {
  color: #b4b4b4;
  font-weight: bolder;
}
#top-navbar img:hover {
  cursor: pointer;
}
#bottom-navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 14px 0px;
  font-size: 12px;
  padding-left: 80px;

  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 50px;  */
  background-color: #ffffff;
}
#bottom-navbar > div {
  width: 35%;
  display: flex;
  gap: 5px;
}
#bottom-navbar input {
  width: 350px;
  height: 35px;
  padding: 0px 15px;

  background-image: url(https://www.pngarea.com/pngm/109/1164446_searchicon-png-search-icon-png-download.png);
  background-size: 20px;
  background-repeat: no-repeat;
  font-size: 15px;
  color: #979797;
  background-color: #f8f8f8;
  border-radius: 5px;
  border: 1px solid rgb(226, 226, 226);

  background-image: url(https://www.licious.in/img/rebranding/search_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  outline: 0;
  background-position: 95%;
  background-size: 20px;
}
#bottom-navbar input:hover {
  transform: scale(0.97);
  cursor: pointer;
}
#red:hover {
  color: rgb(221, 29, 29);
}
::after,
::before {
  box-sizing: inherit;
}
.big_container {
  background-color: #f7f6f6;
}
.main_container {
  /* border: 1px solid black; */
  margin-top: 0px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0%;
  background-color: #f7f6f6;
  padding-top: 1px;
  width: 80%;
  max-width: 1280px;
}
.navbar1 {
  padding: 0;
  position: relative;
  top: 10px;
  margin: -15px 0 25px;
}

.navbar1 ul li .home_icon {
  text-decoration: none;
  color: #555;
  font-family: Lato;
  font-size: 14px;
}
.navbar1 ul li .home_icon:hover {
  color: #d11243;
}

.navbar1 ul li {
  display: inline-block;
  list-style-type: none;
}
.arrow_right_icon {
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 5px solid #6e6f71;

  font-size: 0;
  margin: 0 6px;
  vertical-align: middle;
}
a {
  font-family: Lato;
  text-decoration: none;
  background-color: transparent;
  color: #d11243;
  font-size: 14px;
}
.navbar2 {
  height: auto;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid #dee2e6; */

  height: 40px;
  margin: -1px 25px 25px 25px;
}
.images_container {
  display: flex;

  justify-content: center;
  /* border: 1px solid black; */
}
.images_container.images {
  display: inline-block;

  vertical-align: middle;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  line-height: inherit;
}
.name {
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  color: #585858;
  padding-left: 11px;
  margin: 15px 25px 16px 0;
}

.images > p {
  /* border: 1px solid green; */
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  vertical-align: middle;
  position: relative;
  margin-left: 9px;
  flex-direction: row;
}
.images > p > img {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-top: 0;
  height: 40px;
  /* border: 1px solid red; */
}
.images > p > span {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 0 5px;
  position: relative;
  margin-left: 4px;
  margin-right: 16px;
  /* border: 1px solid yellow; */
}
abbr {
  text-decoration: none;
}
.images > p > span:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#categories {
  border-top: solid 1px #dee2e6;
  border-bottom: solid 1px #dee2e6;
  display: flex;
  margin: -3px 30px 20px 30px;
  padding: 10px;
  font-family: Lato;
  white-space: nowrap;
  overflow: auto;
}
#cat_11 {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 38px;
  cursor: pointer;
}
#cat_img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  margin-right: 8px;
  border-radius: 50%;
}
#cat_name {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #4b4f54;
}
#sort {
  margin-left: 40px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  cursor: pointer;
  overflow-x: auto;
}
#sort1 {
  padding: 9px 12px;
  /* width: -webkit-fit-content;
  width: -moz-fit-content; */
  /* border: 1px solid black */
  width: fit-content;
  background: #fff;
  border: 1px solid #dee2e6;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  margin-left: 12px;
  /* text-transform: capitalize; */
  /* min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content; */
}
#sort2 {
  padding: 9px 12px;
  /* width: -webkit-fit-content;
  width: -moz-fit-content; */
  width: fit-content;
  background: #fff;
  border: 1px solid #dee2e6;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  /* color: #212529; */
  margin-left: 12px;
  text-transform: capitalize;
}
#product {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 70%;
  grid-gap: 15px;
}
#product_div {
  /* border: 2px solid red; */

  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;

  border-radius: 7px 7px 7px 7px;
}
#product_image {
  width: 100%;
  height: 250px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
#product_title {
  /* width: 105%; */
  padding-right: 35px;

  margin: 0 0 10px;
  min-height: 42px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 3.6;
  font-size: 15px;
  font-weight: 600;
  font-family: Lato !important;
}
#product_description {
  font-family: "Source Sans Pro";
  font-size: 14px;
  color: #727272;
  line-height: 1.2;
  /* white-space: nowrap; */
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}
#product_price_cart {
  display: flex;

  justify-content: space-between;
}
#rate {
  float: left;
  font-size: 18px;
  color: #d11243;
  font-weight: 600;
  line-height: 2;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 8px;
}
#rate2 {
  font-size: 14px;
  color: #aeaeae;
  margin-left: 10px;
  font-weight: 400;
}
#product_btn {
  float: right;
  text-align: center;

  height: 50px;
  overflow: visible;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  padding: 8px 8px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 6px;
  background-color: #d11243;
  height: 20px;
  width: 80px;
  margin-right: 10px;
}
#delivery {
  padding: 5px 0 0;
  border-top: solid 2px #d8d8d8;
  line-height: 2;
  display: flex;
  justify-content: center;
  margin: auto;
  min-height: 34px;
}
#scooter {
  padding-right: 12px;
  height: 24px;
  margin-top: 1px;
}
#product_delivery {
  font-family: Lato;
  font-size: 14px;
  color: #aeaeae;
  vertical-align: top;
}
#footer-end {
  width: 85%;
  margin: auto;
  color: #4a4a4a;
  text-align: center;
}
#footer-end > p {
  margin-top: -10px;
  font-size: 14px;
}
#footer-end > div {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
#footer-main-div {
  color: #4a4a4a;
}
#footer-3 {
  width: 85%;
  margin: auto;
}

#footer-main-1 {
  color: #4a4a4a;
}
#footer-main-1 p {
  font-size: 14px;
  cursor: pointer;
}
#footer-main-1 img {
  cursor: pointer;
}
#third-last-div {
  width: 85%;
  margin: auto;
  color: #4a4a4a;
}
#third-last-div p {
  font-size: 14.5px;
  cursor: pointer;
}
#third-last-div p:active {
  color: #d11243;
}
#second-last-div {
  width: 85%;
  margin: auto;
  color: #4a4a4a;
}
#second-last-div p {
  font-size: 13px;
}
